*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    padding: 50px;
    text-align: center;

}
body{
    margin: 0%;
    padding: 0%;
    height: 2500px;
    background-color: aliceblue;
}

header{
    padding: 50px;
    text-align: center;
}

.encabezado{
    font-size: 35px;
}


nav{
    display: flex;
    flex-direction: row;
    background-color: #333;
    justify-content: center;
}


.row{
    display: flex;
    flex-wrap: wrap;
}

section{
    flex: 70% ;
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: #333;
}


nav ul li a{
    display: inline-block;

}

/*CONTACTOS*/

.form-register{
    background: #121212;
    padding: 30px;
    margin: auto;
    margin-top: 70px;
    border-radius: 7px;
    color: white;
}

.form-register h2{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Noto Serif', serif;
}

.controls{
    width: 100%;
    background: #121212;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(189, 251, 253);
    resize: none;
}

input:focus{
    font-size: 20px;
    border: 5px solid rgb(183, 0, 255);
    color: blueviolet;
}

input{
    transition: all 2s;
}

textarea:focus{
    font-size: 20px;
    border: 5px solid rgb(183, 0, 255);
    color: blueviolet;
}

textarea{
    transition: all 1s;
}

@media screen and (min-width:555px){
    .form-register{
        width: 555px;
    }
}


/*COMPONENTES*/

.partes{
    padding-left: 30%;
}

/*FOOTER*/

.footer{
    padding-top: 10px;
    background-color: #333;
    position: fixed;
    height: 9vh;
    width: 100%;
    text-align: center;
    bottom: 0%;
    font-size: 16px;
    border: 1px solid black;
}

.footer p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    padding: 1px;
}


/*HOME*/

.Home2{
    text-align: center;
    font-family: 'Noto Serif', serif;
    background-color: white;
    border: 3px solid #121212;

}

.subrayadohome{
    padding-top: 15px solid #121212;
}

.carousel-inner{
    max-height: 700px;
}

.section{
    max-width: 100%;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.producto{
    width: auto;
    height: 300px;
    font-size: 0.7em;
    font-family: 'Anek Bangla', sans-serif;
}

.informacion span{
    width: 90%;
    background-color: white;
}

.precio{
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 175, 53);
    text-align:center;
}

.informacion{
    font-weight: 600;
    font-size: 1.5em;
}

.section .producto:hover{
    box-shadow: 0 12px 16px rgba(0,0,0,0.25);
    cursor: pointer;
}

.section .producto{
    width: 300px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    transition: all 0.25s;
    background-color: white;
}


/*MOBILE*/

@media screen and (min-width:555px){
    .form-register{
        width: 555px;
    }
    nav .row{
    flex-direction: column;
    }
}

/*TABLET*/

@media screen and (max-width:850px){
    nav, .row{
        flex-direction: column;
    }
    .form-register{
        width: 850;
    }
    .section{
        flex-direction: column;
        align-items: center;
    }
}

/*DESKSTOP*/

